@page "/"
@inject IJSRuntime JS

<div class="container">
    <h3>Selamat Datang.</h3>

    <!-- Introductory Section -->
    <div class="intro">
        <p>Pemrograman Front End - Praisley 72220600</p>
    </div>


    <!-- Get Started Section -->
    <div class="get-started">
        <h4>Portal Fitur-Fitur : </h4>
        <ul>
            <li><a href="/categories" class="btn btn-info">Browse Categories</a></li>
            <li><a href="/courses" class="btn btn-info">Explore Courses</a></li>
        </ul>
    </div>

</div>

@code {
    // You can add any logic or functions if needed in the future for this page.
}
